<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>HOME</title>
    <link rel="stylesheet" href="Recursos/css/estilo.css">
</head>
<body lang="es-CO" dir="ltr">

<header>
    <div id="logo"></div>
    <!-- menu principal -->
    <div id="menu">
    <ol>
    <li><a href="/">INICIO</a></li>
    <li><a href="#">GESTIÓN DE INFORMACIÓN</a></li>
    <li><a href="CONTACTO">CONTACTO</a></li>
    <li><a href="SERVICIOS">SERVICIOS</a></li>
    </ol>
    </div>
    <!-- menu de login y singin -->
    <div id="log">
        <%if(!login){%>
        <ul>
            <li><a href="LOGIN">INICIAR SESIÓN</a></li>
            <li><a href="SINGIN">USUARIO NUEVO</a></li>
        </ul>
        <%}else{%>
        <ul>
            <li><a><%=usuario%> <%=rol%></a></li>
            <li><a href="logout">CERRAR SESIÓN</a></li>
        </ul>
        <%}%>
    </div>
</header>
<div id="contenido">
	<div id="sevicio">
    <!-- Tabla con informacion de los clientes registrados -->    
	<table>
        <caption>Datos de Clientes</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            <!-- Datos de los clientes en una lista -->
            <% for(var i = 0; i<clientes.length; i++){%>
                <tr>
                    <td><%=clientes[i].cedula%></td>
                    <td><%=clientes[i].nombre%></td>
                    <td><%=clientes[i].correo%></td>
                    <td><%=clientes[i].telefono%></td>
                    <td><%=clientes[i].direccion%></td>
                </tr>
            <%}%>

            <tr>
				<th colspan="5"><a href="CREARCLIENTE">AGREGAR CLIENTE</a></th>
			</tr>
            
        </tbody>
    </table>
	</div>
</div>

<footer>
<ol>
	<li><a href="HOME">Sobre Nosotros</a></li>
	<li><a href="CONTACTO">Contacto</a></li>
	<li><a href="#">Políticas</a></li>
	<li><a href="#">Protección de datos</a></li>
	<li><a href="CONTACTO">Soporte</a></li>
</ol>
<p>Desarrollado por Jesssid - 2024</p>
</footer>

</body>
</html>
